config SND_WMT_AC97
	tristate "AC97 Audio for the WMT chip"
	depends on ARCH_WMT && SND
	help
	  Say Y or M if you want to add support for codecs attached to
	  the WMT AC97 interface. You will also need to select the audio 
	  interfaces to support below.

config SND_WMT_I2S
	tristate "I2S Audio for the WMT chip"
	depends on ARCH_WMT && SND
	help
	  Say Y or M if you want to add support for codecs attached to
	  the WMT I2S interface. You will also need to select the audio 
	  interfaces to support below.

choice
	prompt "I2S CODEC select"
	default SND_WMT_I2S_ES8328

config SND_WMT_I2S_ES8328
	bool "Everest Semiconductor ES8328"
	help
	    Everest Semiconductor ES8328 chip. This CODEC is used in
	    YaZhongX EPC Chinese WM8505 netbook.

config SND_WMT_I2S_VT1602
	bool "VIA VT1602"
	help
	    VIA VT1602. I don't have a machine with this one, this driver
	    is untested.

endchoice
