# ALSA ARM drivers

menuconfig SND_ARM
	bool "ARM sound devices"
	depends on ARM
	default y
	help
	  Support for sound devices specific to ARM architectures.
	  Drivers that are implemented on ASoC can be found in
	  "ALSA for SoC audio support" section.

if SND_ARM

config SND_SA11XX_UDA1341
	tristate "SA11xx UDA1341TS driver (iPaq H3600)"
	depends on ARCH_SA1100 && L3
	select SND_PCM
	help
	  Say Y here if you have a Compaq iPaq H3x00 handheld computer
	  and want to use its Philips UDA 1341 audio chip.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-sa11xx-uda1341.

config SND_ARMAACI
	tristate "ARM PrimeCell PL041 AC Link support"
	depends on ARM_AMBA
	select SND_PCM
	select SND_AC97_CODEC

config SND_PXA2XX_PCM
	tristate
	select SND_PCM

config SND_PXA2XX_LIB
	tristate
	select SND_AC97_CODEC if SND_PXA2XX_LIB_AC97

config SND_PXA2XX_LIB_AC97
	bool

config SND_PXA2XX_AC97
	tristate "AC97 driver for the Intel PXA2xx chip"
	depends on ARCH_PXA
	select SND_PXA2XX_PCM
	select SND_AC97_CODEC
	select SND_PXA2XX_LIB
	select SND_PXA2XX_LIB_AC97
	help
	  Say Y or M if you want to support any AC97 codec attached to
	  the PXA2xx AC97 interface.

config SOUND_WMT_I2S
        tristate "WMT I2S Sound Driver"
        depends on SOUND && ARCH_WMT
        ---help---
          Say Y here if you want to use the I2S sound driver on WMT EVB based
          EVB.
choice
    prompt "I2S Codec Select"
        depends on SOUND_WMT_I2S
    default  I2S_Codec_VT1602
config I2S_Codec_VT1602
        bool "VT1602"
        ---help---
          Say Y here if you want to use VT1602 as the I2S Codec.
endchoice          
#
# VIA1613 CODEC driver
#
config SOUND_WMT_AC97
        tristate "WMT AC'97 Sound Driver"
        depends on SOUND && ARCH_WMT
        ---help---
          Say Y here if you want to use the AC'97 sound driver on WMT based
          EVB.

choice
    prompt "AC97 Codec Select"
        depends on SOUND_WMT_AC97
    default WMT_VT1613 
config WMT_VT1613
        bool "VT1613 function support"
        depends on SOUND && ARCH_WMT && SOUND_WMT_AC97
        ---help---
          Say Y here if you are using the WMT with VIA1613 function support.
endchoice          

endif	# SND_ARM

